@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Inter+Tight:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    background-color: #0B0F19;
    color: #FFFFFF;
    font-family: 'Inter', system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}